/* Bold (700) 제목이나 강조 텍스트 */
@font-face {
  font-family: "Pretendard";
  src: url('/assets/fonts/pretendard/Pretendard-Bold.otf')
  format("opentype");
  font-weight: 700;
  font-style: normal;
}
/* Regular (400) 모든 기본 텍스트 */
@font-face {
  font-family: "Pretendard";
  src: url('/assets/fonts/pretendard/Pretendard-Regular.otf')
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* Light (300) 부가 설명 또는 특수한 텍스트 */
@font-face {
  font-family: "Pretendard";
  src: url('/assets/fonts/pretendard/Pretendard-Light.otf')
    format("opentype");
  font-weight: 300;
  font-style: normal;
}
